<app-navbar></app-navbar>

<div class="container mt-3">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
         <div class="row g-3">
         
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                <h1 style="color:brown">Viewall Students</h1>
            </div>


            <div class="col col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3" *ngFor = "let i of data">
                <div class="card" style="width: 18rem;">
                    <img height = "300px"src="https://i.pinimg.com/originals/51/90/10/519010d9ee8167bfe445e616f260f758.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Name :{{i.name}}</h5>
                      <p class="card-text">Roll No : {{i.rollno}}</p>   
                      <p class="card-text">Admission No : {{i.admno}}</p>   
                    
                      <p class="card-text">College  : {{i.college}}</p> 
                    
                    </div>
                  </div>
            </div>
          
              
         </div>
        </div>
    </div>
</div>

