<app-navbar></app-navbar>

<div class="container mt-4">
    <div class="row g-3">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <h1 style="color:brown">Search Student</h1>
                </div>
                <div class="col col-12 col-sm-6 col-md-12 col-lg-12 col-xl-12 col-xxl-12 ">
                    <label class="form-label">Admission Number </label>
                    <input name="admno"  [(ngModel)]="admno" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                   <button (click)="readValues()" class="btn btn-success">Search</button>
                </div>
               
            </div>

            <div class="row  mt-4 g-3" >
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6" *ngFor="let j of searchData">
                    <div class="card" style="width: 18rem;">
                        <img src="https://i.pinimg.com/originals/51/90/10/519010d9ee8167bfe445e616f260f758.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Name : {{j.name}}</h5>
                          
                        </div>
                        <ul class="list-group list-group-flush">
                            
                           <li class="list-group-item">Roll Number : {{j.rollno}}</li>
                           <li class="list-group-item">College : {{j.college}}</li>
                          
                        </ul>
                       
                      </div>

                      <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                        <button (click)="deletebuttonClick(j.id)" class="btn btn-success">Delete</button>
                       
                     </div>
                     
                    
                </div>


               
                
              </div>



           



        </div>
     </div>

</div>